html, body {
	margin: 0;
	padding: 0;
	font-family: monospace;
	background-color: #000;
	color: #FFFFFF;
}

html, body, #app {
	height: 100%;
	touch-action: manipulation; // Try REMOVE THE DOUBLE-TAP ZOOM FEATURE ON IOS
}

p {
	margin: 0;
}

a {
	cursor: pointer;
	text-decoration: underline;
	color: #FFFFFF !important;
}

* {
	box-sizing: border-box;
}
